<form [formGroup]="form">
  <div class="row">
    <div class="col img-container"></div>
    <div class="col">
      <div class="form-container">
        <h3 class="display-6">Welcome back!</h3>
        <div class="mb-3">
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email address">
        </div>
        <div class="mb-3">
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <label for="remember">
          <input formControlName="remember" type="checkbox" name="remember" id="remember">
          Remember password
        </label>
        <button type="button" class="btn btn-primary" (click)="logIn()" [disabled]="!form.valid">SIGN IN</button>
        <a href="#" class="text-center">Forgot your password?</a>
      </div>
    </div>
  </div>
</form>